@model NREPPAdminSite.Models.IntervPageModel

@{
    ViewBag.Title = "Submit your Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit Your Application</h2>

<div>
    <p>
        Have you completed your application?
    </p>
     
    @Html.ActionLink("No, edit the application.", "Submission2", new { InvId = Model.TheIntervention.Id })<br />
    @Html.ActionLink("Yes, submit.", "DoSubmit", new { InvId = Model.TheIntervention.Id })
</div>