
@{
    ViewBag.Title = "PostResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry you Couldn't Review For Us!</h2>

<div>
    @Html.ActionLink("Return to Login", "Login", "Admin")
</div>

