
@{
    ViewBag.Title = "Thank You For Submitting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You For Your Submission</h2>

<p>
    Thank you for submitting your program for inclusion in the National Registry of Evidence-based Programs and Practices (NREPP). You will receive an email confirming the receipt of your application.
    NREPP staff will screen your submission package to confirm its eligibility for a full review and you will receive an e-mail notification to inform you of the status of your submission. 
    If your submission package is accepted for a full review, you will be asked to provide additional information.
</p>

<p>
    Questions regarding submissions can be submitted to <a href="mailto:nreppadmin@dsgonline.com">nreppadmin@dsgonline.com</a>
</p>

