
@{
    ViewBag.Title = "Thank You For Submitting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You For Your Submission</h2>

<p>
    Thank you for your submission. You will receive an email confirming the receipt of your application. 
</p>

<p>
    NREPP staff will screen your submission package to confirm its eligibility for a full review within XX months. You will receive an email notification regarding  the status of your submission after the screening process is complete. If your submission package  is accepted for a full review, you will be asked to create an NREPP account and provide additional information.
</p>

<p>
    Questions regarding submissions can be submitted to nreppadmin@dsgonline.com
</p>

