@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Page 1 of Submission</h2>

<div>
    <span style="clear: both;"></span>
    <p>
        Welcome to the NREPP submission process. Our open submission period runs from [month, year] to [month, year]. You will be prompted for information required to submit an application for your program. If you are submitting more than one program, you will need to submit information about one program at a time.
     </p>
     
    <p>Your account allows you to initiate an application and save your work until you complete the submission.  After you have entered and uploaded all of the required information, you must press the Submit button for your application to be processed.</p>

    

    @Html.ActionLink("Continue with Submission", "Submission2")
</div>