
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadFile</h2>

<div>
    @using (Html.BeginForm("Upload", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>File: </span><input type="file" name="UploadedFile" /> <br /><br />
        <input type="submit" value="Submit" />
    }
</div>

