<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LocalDev"
      connectionString="server=192.168.0.134\MSSQL2014;database=NREPPAdminDB;uid=nrAdmin;password=nr!Admin1234566"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="RemoteDev"
      connectionString="server=192.168.0.134\MSSQL2014;database=NREPPAdminDB;uid=nrAdmin;password=nr!Admin123456"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
