@{
    ViewBag.Title = "About";
}

<div class="col-sm-6 col-sm-offset-3">
<h2>@ViewBag.Title</h2>

    <p>
        The NREPPAdmin application is a Web-Based application which is used to:
    </p>
    <ul>
        <li>Gather intervention submissions for review consideration from interested program developers.</li>
        <li>Screen submitted interventions for merit</li>
        <li>track interventions</li>
        <li>monitor intervention review progress</li>
        <li>accept submissions to be considered for review</li>
        <li>Publish reviewed intervention summaries for public consumption.</li>
    </ul>
    <p>
        It has been rebuilt to support this process as openly and flexibly as possible whilst also maintaining a supportable and enforceable workflow process.
    </p>
    <p>
        The NREPPAdmin Screening module is used to gather, access and store information for interventions, reviewer assignments, and inquiries about NREPP.
    </p>

    <p>
        The NITSAdmin Review module is used to access information and documentation for the NREPP intervention reviews. Review Coordinators assign reviewers who can log into the site and view and download the documents for review and then upload their reviewer ratings. This site includes:
    </p>
    <ul>
        <li>A review packet with an overview of the materials included in the review</li>
        <li>All the materials to review</li>
        <li>A Reviewer Ratings form to be downloaded, completed and uploaded back into the system</li>
        <li>A NITS User Guide for reviewers</li>
        <li>A copy of the NREPP invoice for reviewers to complete after the review.</li>
    </ul>

</div>
