@{
    ViewBag.Title = "Contact";
}
<div class="col-sm-6 col-sm-offset-3">
    <h2>@ViewBag.Title</h2>
    <p></p>
    <address>
        7315 Wisconsin Ave, Suite 800 East<br />
        Bethesda, MD 20814<br/>
        <abbr title="Phone">P:</abbr>301.951.0056
        <abbr title="Fax">F:</abbr>301.951.3324
    </address>
    <address>
            <strong>Email:</strong><a href="mailto:nreppadmin@dsgonline.com">nreppadmin@dsgonline.com</a><br />
    </address>

</div>
