@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NREPPAdmin</h1>
    <p class="lead">NREPPAdmin is the Administrative Application which manages Intervention Submission, Screening, Review and Summary posting</p>
    <p><a href="/Admin/New" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    <p><a href="/Admin/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>

</div>

