@using NREPPAdminSite.Utilities
<!-- You will need to change the model once the programs become available -->
@*@model List<NREPPAdminSite.Models.Intervention>*@

@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<h2 class="header-container">@ViewBag.Title</h2>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      	<div class="col-sm-12 filter-list">
          <div class="col-sm-12">
            <h3>Filters <a href="/Program/Submission1" class="pull-right small">Add Program <i class="fa fa-plus-circle fa-lg add"></i></a></h3><br />
          </div>

          <div class="col-md-6">
              <ul class="list">
                  <li class="col-xs-12">
                      <label for="ftrTitle">Title</label>
                      <input type="text" id="ftrTitle" class="form-control filter-input" placeholder="Title" data-fieldname="Title" data-column="0">
                  </li>
                  <li class="col-xs-12">
                      <label for="ftrDescription">Full Description</label>
                      <input type="text" id="ftrDescription" class="form-control filter-input" placeholder="Full Description" data-fieldname="FullDescription" data-column="1">
                  </li>
                  <li class="col-xs-12" style="padding-bottom: 5px">
                      <label for="ftrSubmitter">Submitter</label>
                      <input type="text" id="ftrSubmitter" class="form-control filter-input" placeholder="Submitter" data-fieldname="Submitter" data-column="4">
                  </li>
              </ul>
          </div>
         
          <div class="col-md-6">
            <label class="control-label">View all programs</label>
            <br />
            <div data-toggle="buttons">
                <label class="btn btn-primary active btn-block">
                    <input type="radio" name="filter-input-opt" id="optOnlyMyPrograms" value="filter-group-user" checked>Submitted / Assigned to me
                </label>
                @if (!User.IsInIdentityRole("Principal Investigator"))
                {
                    <label class="btn btn-primary btn-block">
                        <input type="radio" name="filter-input-opt" id="optAllSubmitted" value="filter-group-dsg">Submitted
                    </label>
                    <label class="btn btn-primary btn-block">
                        <input type="radio" name="filter-input-opt" id="optAllInterventions" value="filter-group-admin">In the system
                    </label>
                }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row voffset3"></div>
@*@Html.ActionLink("Create a New Submission", "View", "Program", new { InvId = "-1" }, null)<br />*@
<div class="container-fluid">
    <div class="container_module">
        <div>
            <div class="table-responsive"><table id="tblPrograms" class="display table" cellspacing="0" width="100%">
                <thead class="bg-info">
                    <tr>
                        <th>Title</th>
                        <th>Full Description</th>
                        <th>Status</th>
                        <th>Updated Date</th>
                        <th>Submitter</th>
                    </tr>
                </thead>
            </table></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#updatedDate").datepicker();

        var userTable = $('#tblPrograms').DataTable({
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            ajax: "ProgramsList",
            serverSide: true,
            paging: true,
            columns: [
                { "data": "Title", "bSortable": true },
                { "data": "FullDescription" },
                { "data": "Status" },
                { "data": "UpdatedDate" },
                { "data": "Submitter" },
                { "data": "Id" },
                { "data": "DummyColumnForFilter" }
            ],
            "searchCols": [
               null,
               null,
               null,
               null,
               null,
               null,
               { "search": "filter-group-user" }
            ],
            order: [0, 'asc'],
            columnDefs: [
                {
                    render: function (data, type, row) {
                        if (row.Status !== "Pending Submission") {
                            return '<a href="/Program/View?InvId=' + row["Id"] + '">' + data + '</a>';
                        } else {
                            return '<a href="/Program/ReSubmission2?InvId=' + row["Id"] + '">' + data + '</a>';
                        }
                    },
                    targets: 0
                },
                {
                    render: function (data, type, row) {
                        var uDate = new Date(parseInt(data.substr(6)));
                        return uDate.toLocaleDateString("en-US");
                    },
                    targets: 3
                },
                { visible: false, targets: [5] },
                { visible: false, targets: [6] }
            ],
            tableTools: {
                sRowSelect: "os",
                sRowSelector: 'td:first-child'
            }
        });

        $(".filter-input-text").on("keyup", function () {
                userTable.column($(this).attr('data-column')).search($(this).val()).draw();
        });

        $('input[type=radio][name=filter-input-opt]').change(function () {
                userTable.column(6).search($(this).val()).draw();
        });

    });
</script>
