@model NREPPAdminSite.Models.NreppUser

<!-- You will need to change the model once the programs become available -->

@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, @Model.Firstname</h2>

<div>

</div>