
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-inline">
            <li class="col-sm-2">
                <label>Username</label>
                <input type="text" class="form-control filter-input" placeholder="Username" data-fieldname="UserName" data-column="0">
            </li>
            <li class="col-sm-2">
                <label>First Name</label>
                <input type="text" class="form-control filter-input" placeholder="First Name" data-fieldname="FirstName" data-column="1">
            </li>
            <li class="col-sm-2">
                <label>Last Name</label>
                <input type="text" class="form-control filter-input" placeholder="Last Name" data-fieldname="LastName" data-column="2">
            </li>
            <li class="col-sm-2">
                <label>Email</label>
                <input type="text" class="form-control filter-input" placeholder="Email" data-fieldname="Email" data-column="3">
            </li>
            <li class="col-sm-2">
                <label>Role</label>
                <input type="text" class="form-control filter-input" placeholder="Role" data-fieldname="RoleName" data-column="4">
            </li>
            <li class="col-sm-1"></li>
        </ul>
    </div>
</div>
<div class="row voffset3"></div>
<div class="table-responsive">
    <table id="tblUsers" class="display table">
        <thead class="bg-info">
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Is Locked</th> 
                <th>Action</th>
                <th>Id</th>
                
                               
            </tr>
        </thead>
    </table>
</div>
<div class="table-responsive">
    <table id="Reviewertable" class="table table-striped">
        <thead>
            <tr>                
                <th><a href="#" onclick="openModel('');"/ class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>Add User</th>
            </tr>
        </thead>
    </table>
</div>

<div id='dialogDiv' class='modal fade' role="dialog" style="border:1px solid #000000;">
    <div class="modal-dialog" style="width:93%">       
        <div class="modal-content">
            <div id='dialogContent' class="modal-body" style="width: 100%;">                
            </div>
        </div>
    </div>
</div>
   @Scripts.Render("~/bundles/jqueryval")
   <script type="text/javascript">
          
            $(document).ready(function () {
                
                var userTable = $('#tblUsers').DataTable({
                    "dom": '<"top"i>rt<"bottom"lp><"clear">',
                    ajax: "UsersList",
                    serverSide: true,
                    columns: [
                        { "data": "UserName", "bSortable": true },
                        { "data": "FirstName" },
                        { "data": "LastName" },
                        { "data": "Email" },
                        { "data": "RoleName" },
                        { "data": "IsLocked" },
                        { "data": "" },
                        { "data": "Id" }
                    ],
                    order: [1, 'asc'],
                    columnDefs: [
                        {                
                        render: function ( data, type, row ) {
                            return '<a href="#" onclick="openModel('+ "'" + row["Id"] + "'"+');">Edit</a>';
                        },
                        targets: 6
                        },
                        { visible: false, targets: [7] },
                        {
                            render: function (data, type, row) {
                                if (data) {
                                    return '<a href="#" onclick="updateStatus(' + data + ",'" + row["Id"] + "'" + ');"><img src="/Content/images/lock.png" alt="Locked"></a>';
                                }
                                else {
                                    return '<a href="#" onclick="updateStatus(' + data + ",'" + row["Id"] + "'" + ');"><img src="/Content/images/unlock.png" alt="Un-Locked"></a>';
                                }
                            }, targets: 5
                        }
                    ],
                    tableTools: {
                        sRowSelect: "os",
                        sRowSelector: 'td:first-child'
                    }
                    //,
                    //aoColumns: [
                    //    { "bSortable": true },
                    //    { "bSortable": false },
                    //    { "bSortable": false },
                    //    { "bSortable": false },
                    //    { "bSortable": false },
                    //],
                    //bSort: true,//: [[2, 'asc']]
                });

                $(".filter-input").on("keyup", function () {
                    userTable.column($(this).attr('data-column')).search($(this).val()).draw();
                });
            });           
       
            //Popup modal
            function openModel(id) {
                $.ajaxSetup({ cache: false });
                $('#dialogContent').load("\GetUser?id=" + id, function () {
                    $('#dialogDiv').modal({
                       // backdrop: 'static',
                        keyboard: true
                    }, 'show');
                    bindForm(this);
                });
                return false;
            }

            function bindForm(dialog) {
                $.validator.unobtrusive.parse('form');
                $('form', dialog).submit(function () {
                    if ($(this).valid()) {
                        console.log("submit-valid");
                        $.ajax({
                            url: this.action,
                            type: this.method,
                            data: $(this).serialize(),

                            success: function (result) {
                                if (result.Succeeded) {
                                    $('#dialogDiv').modal('hide');
                                    var table = $('#tblUsers').dataTable();
                                    table.fnDraw();
                                }
                                else {
                                    $('#dialogContent').html(result.Errors);
                                    bindForm();
                                }
                            }
                        });
                    }
                    return false;
                });
                return false;
            }
            //

            function updateStatus(status, id) {
                if (status) { status = false } else { status = true };
                var request = { Id: id, Status: status };
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(request),
                    //dataType: dataType,
                    type: "POST",
                    url: "UpdateStatus",
                    async: true,
                    success: function (response) {                   
                        if (response.Success) {
                                var table = $('#tblUsers').dataTable();
                                table.fnDraw();
                        }
                        else {
                            console.log(response.Message);
                        }
                    },
                    error: function (jqXHR, timeout, message) {
                        var contentType = jqXHR.getResponseHeader("Content-Type");
                        if (jqXHR.status === 200 && contentType.toLowerCase().indexOf("text/html") >= 0) {
                            window.location.reload();
                            return;
                        }
                        
                    }
                });
            }            

        </script>



