
@{
    ViewBag.Title = "Forgotten Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgotten or Lost Password</h2>

<div>
    @using (Html.BeginForm("ResetPassword", "Admin"))
    {
        @Html.AntiForgeryToken()
        
        <span>User Name or Email: </span>@Html.TextBox("InUserName")
        <input type="submit" value="Reset Password" />
    }
</div>

