
@{
    ViewBag.Title = "GenReviewLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GenReviewLink</h2>

<div>
    @ViewBag.Somestring <br />
    <a href="JoinProgram?ID=@ViewBag.Outstring">Click Me!</a><br />
    @ViewBag.OutString
</div>

